.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.product-img {
  width: 50px;
}

.product {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid grey;
  width: 800px;
  display: inline-flex;
}

.product-info {
  font-size: 12px;
  padding: 10px;
}

.App-header {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}

.checkout-btn {
  margin: 20px !important;
}

.add-btn {
  font-size: 12px !important;
}
